@font-face {
  font-family: 'Ginger';
  src: url('../src/assets/fonts/Ginger.ttf') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pp';
  src: url('../src/assets/fonts/Pp.otf') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PpLight';
  src: url('../src/assets/fonts/Pplight.otf') ;
  font-weight: normal;
  font-style: normal;
}


@import "tailwindcss";

@theme {
  --font-ginger: Ginger, sans-serif;
  --font-pp: Pp, sans-serif;
  --font-ppLight: PpLight, sans-serif;
}



